.table-responsive {
    padding: 10px;
}

.pdftable
{
    //border-spacing: 5px;
    //width: 90%;

}

.th-blue, .td-blue{
    border: 1px solid black;
//    padding: 15px;
}



.th-blue {
    width: 30%;
}

.td-blue {
    width: 35%;
}

.td-embed {
    padding: 0px  !important;
}
.embed_component {
    border-style: none;
    resize: vertical;
    box-shadow: none;
}