.header_blue {
    background-color: deepskyblue;
    color: white;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
}

.header_yellow {
    background-color: gold;
    color: white;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
}

.header1 {
    font-size: 26px;
}

.header1, .header2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
}